.color {
    border: 2px solid;
    border-radius: 20%;
    height: 10vh;
    width: 10vh;
    margin-bottom: 20px;
}

#container {
    border: 2px solid;
    border-radius: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-end;
    height: 40vh;
    width: 50vh;
}

#red {
    color: red;
    font-weight: bolder;
}

#green {
    color: green;
    font-weight: bolder;
}

#blue {
    color: blue;
    font-weight: bolder;
}

h2 {
    text-align: left;
    margin-bottom: 60px;
}

#code {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
}